@import './utils/reset';
@import './utils/container';
@import './utils/colors';
@import './utils/uppercase';
@import './utils/rating-frame';
@import './utils/backdrop';
@import './components/button';
@import './components/header';
@import './components/show-not-result';
@import './components/main-page-trending';
@import './components/pagination';
@import './components/modal';
@import './components/footer';
@import './components/loader';
@import './utils/movie-card-hover';
@import './components/local-storage__queue';
@import './components/local-storage__watched';
@import './components/modal-team';
