@import './utils/reset';
@import './utils/container';
@import './utils/colors';
@import './utils/uppercase';
@import './utils/rating-frame';
@import './utils/backdrop';
@import './components/button';
@import './components/header';
@import './components/main-page-trending';
@import './components/modal';
@import './components/footer';
@import './utils/movie-card-hover';
