.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(3);
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
