.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(1.5);
}

.backdrop {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  left: 0;
  top: 0;    
  background-color: rgba(0, 0, 0, 0.5);
  transition: transform 0.4s;
  z-index: 2;
}
