<header class="header container">
  <div class="header__wrapper">
    <div class="header__upper-area">
      <a class="header__logo card-hover" href="./index.html">
        <svg width="24" height="24" class="header__icon">
          <use href="/src/images/icons.svg#icon-film"></use>
        </svg>
        <h1 class="header__filmoteka">Filmoteka</h1>
      </a>
      <div class="header__tab-area">
        <a href="./index.html" class="header__item header__item--focus">HOME</a>
        <a href="./library.html" class="header__item header__item--library">MY LIBRARY</a>
      </div>
    </div>
    <div class="header__search-area">
      <form class="header__form" id="header__form">
        <div class="header__input-area">
          <input
            class="header__input"
            type="text"
            name="name"
            id="user_name"
            placeholder="Movie search"
            title="Enter title"
            required
          />
          <button class="header__btnSearch" type="submit" name="inputBtn">
            <svg class="header__btnIcon" width="12" height="12">
              <use href="/src/images/icons.svg#icon-search"></use>
            </svg>
          </button>
        </div>
      </form>
    </div>
    <div class="header__not-result-wrapper"></div>
  </div>
</header>
