<header class="header-home container">
  <div class="header-home__container">

    <div class="header-home__upperArea">
       <div class="header-home__logo">
         <svg width="24" height="24" class="header-home__icon">
              <use href="/src/images/icons.svg#icon-film"></use>
            </svg>
        <span class="header-home__Filmoteka">Filmoteka</span>
       </div>
       <div class="header-home__tabArea">
         <div class="header-home__item">
          <a href="" target="_blank" class="header-home__link">HOME</a>
         </div>
          <div class="header-home__item">
          <a href="" target="_blank" class="header-home__link header-home__link--library">MY LIBRARY</a>
          </div>
       </div>
      </div>

    <div class="header-home__searchArea">
      <div class="header__home">
          <input
          class="header-home__input"
          type="text"
          name="name"
          id="user_name"
          pattern="^[a-zA-Z]+"
          placeholder="Movie search"
          title="Enter title"
          required
        />
         
      </div>
      
    </div>
     
  </div>
</header>