<div class="team team-backdrop team-hidden" data-team>
  <div class="team__modal">
    <svg class="team__close" data-team-close>
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
    <h2 class="team__header">Bug Busters!</h2>
    <ul class="team__wrapper">
      <li class="team__member">
        <img class="team__img" src="./images/team/girl1.jpg" width="200" />
        <p class team__info>Aleksandra Aleksińska</p>
        <p class team__info>Team Leader</p>
      </li>
      <li class="team__member">
        <img class="team__img" src="./images/team/ninja.jpg" width="200" />
        <p class team__info>Bartek Brański</p>
        <p class team__info>Scrum Master</p>
      </li>
      <li class="team__member">
        <img class="team__img" src="./images/team/girl2.jpg" width="200" />
        <p class team__info>Anna Grabowska</p>
        <p class team__info>Developer</p>
      </li>
      <li class="team__member">
        <img class="team__img" src="./images/team/naut.jpg" width="200" />
        <p class team__info>Andrzej Michalski</p>
        <p class team__info>Developer</p>
      </li>
      <li class="team__member">
        <img class="team__img" src="./images/team/guy1.jpg" width="200" />
        <p class team__info>Damian Dawidowski</p>
        <p class team__info>Developer</p>
      </li>
      <li class="team__member">
        <img class="team__img" src="./images/team/guy2.jpg" width="200" />
        <p class team__info>Karol Łaski</p>
        <p class team__info>Developer</p>
      </li>
      <li class="team__member">
        <img class="team__img" src="./images/team/guy3.jpg" width="200" />
        <p class team__info>Ksawery Thornton</p>
        <p class team__info>Developer</p>
      </li>
      <li class="team__member">
        <img class="team__img" src="./images/team/guy4.jpg" width="200" />
        <p class team__info>Mateusz Bieda</p>
        <p class team__info>Developer</p>
      </li>
    </ul>
  </div>
</div>
