.button {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 5px;
  height: 44px;
  cursor: pointer;

  &--accent {
    color: $color-third;
    background-color: $color-second;
    border: none;
    width: 110px;
    
    @media screen and (min-width: 768px) {
      width: 125px;
    }
    @media screen and (min-width: 1280px) {
      width: 136px;
    }
  }
  &--queue {
    border: 1px solid black;
    width: 110px;

    @media screen and (min-width: 768px) {
      width: 125px;
    }
    @media screen and (min-width: 1280px) {
      width: 136px;
    }
  }
}
