.header {
    // background-color: black;
    background-image: url(../images/header-background/home-mobile@1x.png);
background-repeat: no-repeat;
background-size: cover;
height: 230px;

// @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
//         background-image: url(../images/header-background/home-mobile@2x.png);
//       }
 
&__container {
   width: 280px;
      height: 146px;  
      padding: 40px 0px 44px ;
}

&__Filmoteka {
    display: none;
}

&__upperArea {
     width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 54px;
}

&__logo {
//  width: 8.9375px;   
}

&__tabArea {
    width:143px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 1.17;
    text-decoration: none;
    font-weight: 500;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

&__item {
   &--focus {
    position: relative;
&::after {
      bottom: -3px;
      position: absolute;
      content: "";
      display: block;
      height: 3px;
      background-color: #ff001b;
      width: 100%;

   }

}
}
&__link {
    text-decoration: none;
    color: white;
&--library  {
    // margin-left: 39px;
}
}

&__searchArea {
    padding-bottom: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

&__form {
position: absolute;


 &::after {
      position: absolute;
      bottom: -1px;
      display: block;
      height: 1px;
      background-color: #ffffff;
      content: "";
      width: 100%;
    }

}

&__inputArea {
display: flex;
 justify-content: space-between;


}


&__input {
    // width:100%;
    background: transparent;
    border: none;
    color: white;
     outline: none;
     
}

&__btn {
 background: none;
outline: none;
border: none;
margin: 0;
padding: 0;
cursor: pointer;   
     
}


}



#user_name {
    outline: none;
}