.header {
  background-image: url(../images/header-background/home-mobile.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 230px;

  &--altbackground {
    background-image: url(../images/header-background/library-mobile.png);
  }

  &__wrapper {
    padding: 40px 0px 0px;
  }

  &__filmoteka {
    display: none;

    &:hover,
    &:focus {
      color: #ff6b01;
    }
  }

  &__upper-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  &__logo {
    // fill: #ff6b01;
  }

  &__icon {
    stroke: #fff;

    &:hover,
    &:focus {
      stroke: #ff6b01;
    }
  }

  &__tab-area {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    line-height: 1.17;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    width: 143px;
  }

  &__item {
    color: white;
    &:hover,
    &:focus {
      color: #ff6b01;
    }

    &--focus {
      position: relative;
      &::after {
        bottom: -3px;
        position: absolute;
        content: '';
        display: block;
        height: 3px;
        background-color: #ff001b;
        width: 100%;
      }
    }
  }
  &__link {
    color: white;
    &--library {
       margin-left: 39px;
    }
  }

  &__search-area {
    // padding-top: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
  }

  &__form {
    position: absolute;
    // width: 280px;

    &::after {
      position: absolute;
      bottom: -1px;
      display: block;
      height: 1px;
      background-color: #ffffff;
      content: '';
      width: 100%;
    }
  }

  &__input-area {
    display: flex;
    justify-content: space-between;
    width: 280px;
  }

  &__input {
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    outline: none;
  }

  &__btnSearch {
    background: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  &__libBtn-area {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__libBtn {
    width: 130px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding: 14px 36px 12px;
    border: 1px solid white;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;

    &:hover,
    &:focus {
      background: #ff6b01;
      border: transparent;
      box-shadow: 4px 4px 40px 15px #ff6b0187;
    }
  }

  &__libBtn.btn-watched {
    margin-right: 20px;
  }
  &__libBtn.active-button {
    background: #ff6b01;
    border: transparent;
    box-shadow: 4px 4px 40px 15px #ff6b0187;
  }
}

#user_name {
  outline: none;
}

@media screen and (min-width: 768px) {
  .header {
    height: 216px;
    background-image: url(../images/header-background/home-tablet.png);

    &--altbackground {
      background-image: url(../images/header-background/library-tablet.png);
    }

    // &__wrapper {

    // }
    &__filmoteka {
      display: inline;
      font-weight: 500;
      font-size: 30px;
      line-height: 1.16;
      color: #ffffff;
      padding-left: 8px;
    }
    &__input {
       width: 336px;
    }

    &__input-area {
      width: 336px;
    }

    &__upper-area {
      margin-bottom: 40px;
    }

    &__search-area {
       padding-top: 40px;
    }
  }
}
@media screen and (min-width: 1280px) {
  .header {
    background-image: url(../images/header-background/home-desktop.png);

    &--altbackground {
      background-image: url(../images/header-background/library-desktop.png);
    }
    // &__input {
    // }

    &__input-area {
      width: 394px;
    }
  }
}
