.movie-draft{
    background-color: rgb(233, 216, 221);
}

.movie-list{    
    list-style: none;
    display:flex;
    flex-direction: column;
    margin: 0px;
    padding: 20px 0px 0px;
    justify-content: center;   
}

.movie-card {
    width: 280px;
    height: 443px;
    margin-bottom: 20px;
    display: block;

    &_img {
        width: 280px;
        height: 402px;
        display:block;        
    }

    &_desc {
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
    }

    &_title {
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 2px;
        }
    &_info {
        margin: 0px;
        color: $color-second;
    }
}