.movie-draft{
    background-color: rgb(233, 216, 221);
}

.movie-list{    
    list-style: none;
    display:flex;
    flex-direction: column;
    // gap: 20px;
    margin: 0px;
    padding: 20px 0px 0px;
    justify-content: center;   

    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
        padding-bottom: 20px;
      }
      @media screen and (min-width: 1280px) {
        gap: 16px;
        padding-top: 60px;
        
      }
}

.movie-card {
    width: 280px;
    // height: 443px;
    margin-bottom: 20px;
    display: block;

    @media screen and (min-width: 768px) {
        width: 336px;
        // height: 495px;
        margin-bottom: 0px;        
      }
    @media screen and (min-width: 1280px) {
        width: 394px;
        // height: 634px;
        margin-bottom: 16px;        
      }

    &__img {
        width: 280px;
        height: 402px;
        display:block; 
        border-radius: 5px;
        
        @media screen and (min-width: 768px) {
            width: 336px;
            height: 455px;
          }
        @media screen and (min-width: 1280px) {
            width: 394px;
            height: 574px;
          }
    }

    &__desc {
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;

        @media screen and (min-width: 768px) {
            line-height: 16px;
          }
        @media screen and (min-width: 1280px) {
            font-size: 20px;
            line-height: 24px
          }
    }

    &__title {
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 2px;
        }
    &__info {
        margin: 0px;
        color: $color-second;
        display: flex;
    }
    
    }
    
